/* variables */
:root {
  --primary: #7d7db3;
  --secondary: #1e1e3f;
  --white: #fff;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Base Styles */
body {
  background: var(--secondary);
  color: var(--white);
}

/* navbar styles */
#navbar {
  padding: 1em 0;
  font-size: 1.5em;
  width: 100vw;
  background-color: var(--primary);
  display: flex;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1rem;
  color: rgb(255, 156, 117);
  width: 40%;
}

#navbar > ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#navbar > ul > li {
}

/* event list styles */

main > h1 {
  text-align: center;
  font-size: 1.8em;
  padding: 1em 0px;
}
.events-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-rows: 140px;
  grid-gap: 20px;
  justify-content: center;
}
.single-event {
  background-color: red;
  padding: 1.2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.single-event > h1 {
  font-size: 1.5em;
}

.btn {
  margin: 0px auto;
  display: block;
  padding: 5px 10px;
  border: none;
}

/* Mobile Styles */

/* Small tablet Styles  */
@media screen and (min-width: 640px) {
}

/* Large tablet and Laptop Styles  */
@media screen and (min-width: 960px) {
}

/* Large Screen Styles  */
@media screen and (min-width: 1200px) {
}
